/* Purpose: Styling for NavBar.jsx */

.nav-container {
    min-width: 1000px;
    align-self: baseline;
    position: fixed;
    top: 0;
    width: 100vw;
    justify-content: left;
  }

.navbar-TCC {
    background-color: darkslategrey;
    border-top: 7px groove darkslategrey;
    border-bottom: 7px groove darkslategrey;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 14px 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 1000vw;
    max-height: 9rem;
  }
  .navbar-pages {
    text-decoration: none;
    display: block;
    color: #314625;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

/*   
.navbar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: auto;
  background-color: lavender;
  border-style: outset;
  border-radius: 25px;
  border-color: white;
  border-width: 5px;
  font-family: sans-serif;

}

.navbar-item {
  color: fuchsia;
  text-align: center;
  margin: 10px;
} */